<h1>Feedback Details</h1>
<table>
    <tr> <th> Field </th> <th> Value </th> </tr>
    <tr> <td> Feedback ID: </td> <td> <%= onerec.feedback_id %> </td> </tr>
    <tr> <td> User ID: </td> <td> <%= onerec.user_id %> </td> </tr>
    <tr> <td> Listing ID: </td> <td> <%= onerec.listing_id %> </td> </tr>
    <tr> <td> Review Date: </td> <td> <%= onerec.review_date.toLocaleDateString('en-US') %> </td> </tr>
    <tr> <td> Comments: </td> <td> <%= onerec.comments %> </td> </tr>
    <tr> <td> Rating: </td> <td> <%= onerec.rating %> </td> </tr>
    <tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
</table>



