<% if (allrecs.length> 0) {%>
    <table border="1">
        <tr>
            <th>User ID</th>
            <th>Username:</th>
            <th>Email:</th>
            <th>Password:</th>
            <th>First Name:</th>
            <th>Last Name:</th>
            <th>Phone:</th>
            <th>Address 1:</th>
            <th>Address 2:</th>
            <th>City:</th>
            <th>State:</th>
            <th>Zip:</th>
        </tr>    
        <% allrecs.forEach((recref, index)=> { %>
            <tr>
                <td><%= recref.user_id %></td>
                <td><%= recref.username %></td>
                <td><%= recref.email %></td>
                <td><%= recref.password %></td>
                <td><%= recref.first_name %></td>
                <td><%= recref.last_name %></td>
                <td><%= recref.phone %></td>
                <td><%= recref.address1 %></td>
                <td><%= recref.address2 %></td>
                <td><%= recref.city %></td>
                <td><%= recref.state %></td>
                <td><%= recref.zip %></td>
            </tr>
<% }); %>
</table>
<% } else { %>
    <p>No Records Available</p>
<% } %>


