<h1>Sale Details</h1>
<table>
    <tr> <th> Field </th> <th> Value </th> </tr>
    <tr> <td> Order ID: </td> <td> <%= onerec.order_id %> </td> </tr>
    <tr> <td> Buyer User ID: </td> <td> <%= onerec.buyer_user_id %> </td> </tr>
    <tr> <td> Sale Date: </td> <td> <%= onerec.sale_date.toLocaleDateString('en-US') %> </td> </tr>
    <tr> <td> Customer Notes: </td> <td> <%= onerec.customernotes %> </td> </tr>
    <tr> <td> Payment Status: </td> <td> <%= onerec.payment_status %> </td> </tr>
    <tr> <td> Authorization Number: </td> <td> <%= onerec.authorization_num %> </td> </tr>
</table>
